{
  "presets": [
    [ "env", {
      "targets": {
        "browsers": "last 2 versions, not ie < 11",
      },
      "modules": false,
      "useBuiltIns": true,
    }],
    "react"
  ],
  "plugins": ["transform-object-rest-spread", "transform-class-properties"]
}
