{
  "presets": [
    [ "@babel/preset-env", {
      "corejs": "3",
      "modules": false,
      "useBuiltIns": "entry",
    }],
    [ "@babel/react", {
      "runtime": "automatic",
    }],
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "@babel/syntax-dynamic-import"
  ]
}
