build
node_modules

# Not for these ready yet
.babelrc
*.js
*.json
*.ts
*.tsx
*.scss

# Slowly migrate files that we've touched
!.eslintrc.js
!editor/AceEditor.tsx
!editor/SimpleEditor.tsx
!websocketMiddleware.ts
