pnpm-lock.yaml

build
node_modules

# Not for these ready yet
.babelrc
*.js
*.json
*.ts
*.tsx
*.scss

# Slowly migrate files that we've touched
!.eslintrc.js
!BuildMenu.tsx
!ButtonSet.tsx
!Header.tsx
!PopButton.tsx
!Stdin.tsx
!compileActions.ts
!editor/AceEditor.tsx
!editor/SimpleEditor.tsx
!reducers/client.ts
!reducers/featureFlags.ts
!reducers/globalConfiguration.ts
!reducers/output/assembly.ts
!reducers/output/execute.ts
!reducers/output/format.ts
!reducers/output/gist.ts
!reducers/output/hir.ts
!reducers/output/llvmIr.ts
!reducers/output/meta.ts
!reducers/output/mir.ts
!reducers/output/wasm.ts
!reducers/websocket.ts
!websocketActions.ts
!websocketMiddleware.ts
