.container {
  display: flex;
  align-items: center;
}

.name {
  flex: 1;
  font-size: 13px;
}

.notDefault {
  composes: name;
  color: var(--header-tint);
  font-weight: 600;
}

.value {
  flex: 1;
}

.select {
  width: 100%;
}

.toggle {
  display: flex;

  & label {
    $border: 1px solid #bbb;

    flex: 1;
    padding: 0 1em;
    border: $border;
    border-right-width: 0;
    border-bottom-left-radius: var(--header-border-radius);
    border-top-left-radius: var(--header-border-radius);
    color: #777;
    cursor: pointer;
    font-size: 11px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;

    & ~ label {
      border-radius: 0 var(--header-border-radius) var(--header-border-radius) 0;
      border-right-width: 1px;
      border-left: $border;
    }

    &:hover {
      background: hsl(208deg 100% 43% / 10%);
    }
  }

  & input {
    display: none;

    &:checked + label {
      border-color: var(--header-tint);
      background: var(--header-tint);
      color: #fff;

      & ~ label {
        border-left-width: 0;
      }
    }
  }
}
