.container {
  display: flex;
  padding: 1.25em 0;
  font-size: 12px;

  & button:enabled {
    cursor: pointer;
  }
}

.set {
  margin-right: 0.5em;

  &:last-child {
    margin-right: 0;
  }
}

.setChannelMode {
  margin-right: auto;
}
