.container {
  display: flex;
  align-items: center;
  padding: 0 1.25em;
  height: 3em;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.bold {
  font-weight: 700;
}

.expandable {
  composes: container;
  padding-right: 1em;
}

.hasLeftIcon {
  composes: container;
  padding-left: 1em;
}

.hasRightIcon {
  composes: container;
  padding-right: 1em;
}

.iconOnly {
  composes: container;
  padding: 0 0.75em;
}

.leftIcon {
  margin-right: 0.5em;
}

.iconOnly .leftIcon {
  margin-right: 0;
}

.drop {
  margin-left: 0.75em;
}

.rightIcon {
  margin-left: 0.75em;
}
