:root {
  --primary-font: 'Open Sans', sans-serif;
  --font-color: #444;
  --font-color-high-contrast: black;
  --link-color: #00e;
  --link-color-visited: #551a8b;
  --rust: #a42;
  --rust-dark: #80331a;
  --background-color: #e1e1db;
  --background-color-high-contrast: white;
  --code-background-color: #eee;
  --border-color: #bbb;
  --border: 1px solid var(--border-color);
  --header-link-color: black;
  --header-main-border: #dedede;
  --header-transition: 0.2s ease-in-out;
  --header-tint: #428bca;
  --header-border-radius: 4px;
  --header-accent-border: #bdbdbd;

  /* The big red button */

  --button-primary-color: white;
  --button-primary-bg-color: var(--rust);
  --button-primary-border-color: var(--rust-dark);
  --button-primary-bg-color-light: color-mix(in hsl, var(--button-primary-bg-color), white);
  --button-primary-border-color-light: color-mix(in hsl, var(--button-primary-border-color), white);

  /* Clicked */
  --button-primary-active-color: color-mix(in hsl, white, black 30%);

  /* Not the big red button */

  --button-secondary-color: #444;
  --button-secondary-bg-color-top: #fff;
  --button-secondary-bg-color-bottom: #f9f9f9;
  --button-secondary-bg-color: linear-gradient(
    to bottom,
    var(--button-secondary-bg-color-top),
    var(--button-secondary-bg-color-bottom)
  );
  --button-secondary-border-color: color-mix(
    in hsl,
    var(--button-secondary-bg-color-bottom),
    black 20%
  );

  /* Disabled */
  --button-secondary-bg-color-light: color-mix(
    in hsl,
    var(--button-secondary-bg-color-bottom),
    white
  );
  --button-secondary-border-color-light: color-mix(
    in hsl,
    var(--button-secondary-border-color),
    white
  );
  --button-secondary-color-light: color-mix(in hsl, var(--button-secondary-color), white);

  /* Clicked */
  --button-secondary-active-color: color-mix(in hsl, black, white 30%);

  /* Output tabs */
  --output-background-tab: #fcfcfc;
  --output-current-tab: #f9ffff;
}

/* Automatic dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --rust: #81331a;
    --rust-dark: #612714;
    --font-color: #b4aea6;
    --font-color-high-contrast: #dcdbd8;
    --link-color: #308af2;
    --link-color-visited: #9f5fe1;
    --background-color: #292c2e;
    --background-color-high-contrast: #17191a;
    --code-background-color: #1a1a1a;
    --border-color: #404548;
    --border: 1px solid var(--border-color);
    --header-link-color: white;
    --header-main-border: #363b3d;
    --header-transition: 0.2s ease-in-out;
    --header-tint: #245681;
    --header-border-radius: 4px;
    --header-accent-border: #bdbdbd;

    /* The big red button */

    --button-primary-color: #dcdbd8;
    --button-primary-bg-color: var(--rust);
    --button-primary-border-color: var(--rust-dark);
    --button-primary-bg-color-light: color-mix(in hsl, var(--button-primary-bg-color), white);
    --button-primary-border-color-light: color-mix(
      in hsl,
      var(--button-primary-border-color),
      white
    );

    /* Clicked */
    --button-primary-active-color: color-mix(in hsl, white, black 30%);

    /* Not the big red button */

    --button-secondary-color: #b4aea6;
    --button-secondary-bg-color-top: #17191a;
    --button-secondary-bg-color-bottom: #1a1c1d;
    --button-secondary-bg-color: linear-gradient(
      to bottom,
      var(--button-secondary-bg-color-top),
      var(--button-secondary-bg-color-bottom)
    );
    --button-secondary-border-color: color-mix(
      in hsl,
      var(--button-secondary-bg-color-bottom),
      black 20%
    );

    /* Disabled */
    --button-secondary-bg-color-light: color-mix(
      in hsl,
      var(--button-secondary-bg-color-bottom),
      white
    );
    --button-secondary-border-color-light: color-mix(
      in hsl,
      var(--button-secondary-border-color),
      white
    );
    --button-secondary-color-light: color-mix(in hsl, var(--button-secondary-color), white);

    /* Clicked */
    --button-secondary-active-color: color-mix(in hsl, black, white 30%);

    /* Output tabs */
    --output-background-tab: #191b1c;
    --output-current-tab: #343434;
  }
}

/* Modify normalized styles */
button,
input,
optgroup,
select,
textarea {
  font-family: var(--primary-font);
}

html {
  box-sizing: border-box;
}

a {
  color: var(--link-color);
}

a:visited {
  color: var(--link-color-visited);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--font-color);
  background-color: var(--background-color);
  padding: 0 1em;
  font-family: var(--primary-font);
}

/* stylelint-disable-next-line selector-class-pattern */
:global(.language-rust_errors) {
  & :global(.warning) {
    color: #f79a06;
  }

  & :global(.error) {
    color: #bf1b1b;
  }
}
