<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Source+Code+Pro:400,700&subset=latin-ext" rel="stylesheet">
  </head>
  <body>
    <div id="playground"></div>
  </body>
</html>
