<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="A browser interface to the Rust compiler to experiment with the language" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700%7CSource+Code+Pro:400,700&amp;subset=latin-ext" rel="stylesheet">
  </head>
  <main>
    <body>
      <div id="playground"></div>
    </body>
  </main>
</html>
