@import "~normalize.css/normalize.css";

$background: #E1E1DB;
$rust: #AA4422;
$border-color: #BBBBBB;
$border: 1px solid $border-color;

$primary-font: 'Open Sans', sans-serif;

// Modify normalized styles
button,
input,
optgroup,
select,
textarea {
    font-family: $primary-font;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: $background;
    padding: 0 1em;
    font-family: $primary-font;
}

.language-rust_errors {
    .warning {
        color: #f79a06;
    }
    .error {
        color: #bf1b1b;
    }
}

$header-tint: #428bca;
$header-main-border: #dedede;
$header-accent-border: #bdbdbd;
$header-border-radius: 4px;
$header-transition: 0.2s ease-in-out;

:root {
  --rust: #{$rust};
  --rust-dark: #80331a;
  --border-color: #{$border-color};
  --border: #{$border};
  --header-main-border: #{$header-main-border};
  --header-transition: #{$header-transition};
  --header-tint: #{$header-tint};
  --header-border-radius: #{$header-border-radius};
  --header-accent-border: #{$header-accent-border};
}

.container {
  height: 100%;
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  overflow: hidden;
}