$buffer: 0.5em;
$space: 0.25em;

.container {
  position: absolute;
  z-index: 10;
  right: $buffer;
  bottom: $buffer;
  left: $buffer;
  max-width: 50em;
  border: 2px solid #428bca;
  margin-right: auto;
  margin-left: auto;
  background: white;
}

.notification {
  display: flex;
}

.notificationContent {
  padding: $space 0 $space $space;
}

.close {
  composes: -buttonReset from './shared.module.css';
  padding: $space;
  background: #e1e1db;
  cursor: pointer;
}
