.container {
  --buffer: 0.5em;
  --space: calc(var(--buffer) / 2);
  --border-color: #428bca;

  position: absolute;
  right: var(--buffer);
  bottom: var(--buffer);
  left: var(--buffer);
  z-index: 10;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid var(--border-color);
  background: var(--background-color);
  max-width: 50em;
}

.notification {
  display: flow-root;

  &:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
  }
}

.notificationContent {
  padding: var(--space);
  width: 100%;
}

.close {
  composes: -buttonReset from './shared.module.css';
  cursor: pointer;
  padding: var(--space);
  float: right;
}

.action {
  display: flex;
  justify-content: center;
  padding-top: 0.5em;
  gap: 0.5em;

  & button {
    cursor: pointer;
  }
}

.swapTheme {
  width: 100%;
}
