.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
  height: 100vh;
}

.-resizeableArea {
  composes: -autoSize from './shared.module.css';
  display: grid;
}

.resizeableAreaRowOutputUnfocused {
  composes: -resizeableArea;
  grid-template-rows: 1fr auto;
}

.resizeableAreaRowOutputFocused {
  composes: -resizeableArea;
  grid-template-rows: 1fr 12px 1fr;
}

.resizeableAreaColumnOutputUnfocused {
  composes: -resizeableArea;
  grid-template-columns: 1fr auto;
}

.resizeableAreaColumnOutputFocused {
  composes: -resizeableArea;
  grid-template-columns: 1fr 12px 1fr;
}

.-gutter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.splitRowsGutter {
  composes: -gutter;
  cursor: row-resize;
}

.splitRowsGutterHandle {
  transform: rotate(90deg);
}

.splitColumnsGutterHandle, .splitRowsGutterHandle {
  pointer-events: none;
  display: flex;
  align-items: center;
  gap: 2px;
}

.splitColumnsGutterHandle::before, .splitRowsGutterHandle::before {
  content: "";
  width: 2px;
  height: 12px;
  border-left: dotted 2px currentColor;
}

.splitColumnsGutterHandle::after, .splitRowsGutterHandle::after {
  content: "";
  width: 2px;
  height: 16px;
  border-right: dotted 2px currentColor;
}

.splitColumnsGutter {
  composes: -gutter;
  cursor: col-resize;
}

.editor {
  composes: -autoSize from './shared.module.css';
  border: 4px solid var(--border-color);
  border-radius: 4px;
}

.output {
  composes: -autoSize from './shared.module.css';
}
