.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding-bottom: 1em;
}

.-parent {
  composes: -autoSize from './shared.module.css';
  display: grid;
}

$plainPrimaryDimension: 1fr auto;

.plainRows {
  composes: -parent;
  grid-template-rows: $plainPrimaryDimension;
}

.plainColumns {
  composes: -parent;
  grid-template-columns: $plainPrimaryDimension;
}

.-gutter {
  display: flex;
  align-items: center;
  justify-content: center;
}

$splitPrimaryDimension: 1fr 12px 1fr;
$splitSecondaryDimension: 1fr;

.splitRows {
  composes: -parent;
  grid-template-columns: $splitSecondaryDimension;
  grid-template-rows: $splitPrimaryDimension;
}

.splitRowsGutter {
  composes: -gutter;
  cursor: row-resize;
}

.splitRowsGutterHandle {
  pointer-events: none;
  transform: rotate(90deg);
}

.splitColumns {
  composes: -parent;
  grid-template-columns: $splitPrimaryDimension;
  grid-template-rows: $splitSecondaryDimension;
}

.splitColumnsGutter {
  composes: -gutter;
  cursor: col-resize;
}

.editor {
  composes: -autoSize from './shared.module.css';
  border: 4px solid var(--border-color);
  border-radius: 4px;
}

.output {
  composes: -autoSize from './shared.module.css';
}
