$fg-color: #222;
$bg-color: white;
$vertical-border-color: #cacaca;
$arrow-height: 10px;
$arrow-width: 20px;

.container {
  z-index: 10;
  font-size: 12px;

  & button:enabled {
    cursor: pointer;
  }
}

.content {
  margin: 0 $arrow-height $arrow-height $arrow-height;
  box-shadow: 0 1px 4px -2px rgb(0 0 0 / 60%), inset 0 1px 0 white;
  border-right: 1px solid $vertical-border-color;
  border-bottom: 1px solid var(--header-accent-border);
  border-left: 1px solid $vertical-border-color;
  border-radius: var(--header-border-radius);
  background: $bg-color;
  color: $fg-color;
}
