$bg-light: #fff;
$bg-dark: #f9f9f9;

.container {
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px -2px rgb(0 0 0 / 40%), inset 0 1px 0 white;
  border-radius: var(--header-border-radius);
}

.button {
  composes: -buttonReset from './shared.module.css';
  border: 1px solid var(--header-main-border);
  background: linear-gradient($bg-light, $bg-dark);
  background-color: $bg-light;
  color: #444;

  &:first-child {
    border-top-left-radius: var(--header-border-radius);
    border-bottom-left-radius: var(--header-border-radius);
  }

  &:last-child {
    border-top-right-radius: var(--header-border-radius);
    border-bottom-right-radius: var(--header-border-radius);
  }

  &:not(:first-child) {
    border-left: none;
  }

  &:not(:last-child) {
    border-right: 1px solid var(--header-main-border);
  }

  &:hover {
    background: linear-gradient($bg-light, #f3f3f3);
    color: #333;
  }

  &:active {
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 20%);
    border-top-color: #bababa;
    border-bottom-color: #d6d6d6;
    background: linear-gradient($bg-dark, #ededed);
  }
}

.buttonBuild {
  composes: button;
  border-color: hsl(15deg 66.7% 32%);
  background: var(--rust);
  color: white;

  &:not(:last-child) {
    /* Silly specificity */
    border-right-width: 0;
  }

  &:hover {
    background: var(--rust-dark);
    color: white;
  }

  &:active {
    border-top-color: var(--rust-dark);
    border-bottom-color: var(--rust-dark);
    background: var(--rust-dark);
  }
}
