.container {
  composes: -autoSize from '../shared.module.css';
  position: relative;
}

.nothing {
  composes: -autoSize from '../shared.module.css';
  display: grid;
  place-items: center;
  font-size: 120%;
}

.nothingAction {
  composes: -buttonAsLink from '../shared.module.css';
}

.-advanced {
  composes: -bodyMonospace -autoSize from '../shared.module.css';
  position: absolute;
}

.ace {
  composes: -advanced;
}

.monaco {
  composes: -advanced;
}

.simple {
  composes: -advanced;
  border: none;
  background-color: inherit;
  color: inherit;
}
