blacklist = [
    # Requires native dependencies
    "libressl-pnacl-sys",
    "pnacl-build-helper",

    # Not supported on stable
    "aster",
    "quasi",
    "quasi_codegen",
    "quasi_macros",

    # Apparently deleted
    "serde_macros",

    # Ecosystem is fragmented, only pull in via dependencies
    "openssl",
    "openssl-sys",
    "openssl-sys-extras",
    "openssl-verify",

    # Not supported on stable
    "redox_syscall",
]

additions = [
    # Libz Blitz alumni and in progress crates
    "bitflags",
    "byteorder",
    "env_logger",
    "error-chain",
    "flate2",
    "gcc",
    "lazy_static",
    "log",
    "memmap",
    "mio",
    "num",
    "rand",
    "rayon",
    "reqwest",
    "tempdir",
    "threadpool",
    "url",
    "walkdir",

    # Libz Blitz todo list already available in rust-cookbook
    "base64",
    "chrono",
    "clap",
    "crossbeam",
    "csv",
    "data-encoding",
    "glob",
    "image",
    "num_cpus",
    "petgraph",
    "regex",
    "ring",
    "select",
    "serde",
    "serde_derive",
    "serde_json",
    "syslog",
    "tar",
    "toml",
]
